.bold {
    font-weight: bold;
}

.first-column {
    width: 30%;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#444444;
	border-width: 1px;
	border-color: #888888;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #888888;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #888888;
	background-color: #ffffff;
}
